In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
import time

# Setting up the webdriver
Plus, running the browser headless

In [2]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("/Users/asadimam/ChromeDriver/chromedriver-2",options=chrome_options)

In [3]:
# This is where we initialise all the necessary variables and lists    
# These are empty lists
size = [] 
desc = []
sale = []
location = []

# These are the necessary variables to run the loop
locations = ['london','reading','oxford','maidenhead','high wycombe','basingstoke','cardiff']

# Scraper

In [4]:
# This is the scraping code
for x in locations:
        p= 1
        while True:
            url = 'https://www.novaloca.com/property-search-results/default.aspx?page={}&propertytypes=&saletypes=1&status=1&sizefrom=1&sizeto=500000%2b&sizetype=2&location={}&distance=30&addresskeyword=&excludeServicedOffices=False'.format(p,x)
            driver.get(url)
            time.sleep(3)
            p += 1
            try:
                # Test to see if we're on the last page
                test = driver.find_element_by_class_name('extra-details')

#                 print(f'this is {p} of {x}')

                # Execution Code For Every Page
                ids = driver.find_elements_by_xpath("//*[contains(@id,'property-')]")
                property_ids = []
                for i in ids:
                    property_ids.append(i.get_attribute('id'))
                    for j in property_ids:
                        #     To extract sizes from each property-card
                        size_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[1]/div[3]/div/div[1]/div/span/strong')[0]    
                        size.append(size_test.text)
                        desc_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[2]/h4')[0]
                        desc.append(desc_test.text)
                        sale_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[2]/p/span[2]')[0]
                        sale.append(sale_test.text)
                        location.append(x)

            except:
                break

In [5]:
df_properties_others = pd.DataFrame({'city':location,'prop_size':size,'prop_desc':desc,'prop_price':sale})

In [6]:
df_properties_others

,city,prop_size,prop_desc,prop_price
0,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
1,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
2,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
3,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
4,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
...,...,...,...,...
26605,cardiff,78006 Sq Ft,"Plot C2, Vale of Neath Business Park, Resolven...",
26606,cardiff,"6,277 Sq Ft","Units 19-20 Bonville Business Centre, Unit 19-...",
26607,cardiff,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS","- £260,000.00"
26608,cardiff,"2,420 Sq Ft",UNDER OFFER - For Sale - Retail Property in Ha...,"- £300,000.00"
26609,cardiff,"18,000 Sq Ft","The Old Deanery, Wells, BA5 2UG",

In [7]:
df_properties_others.drop_duplicates()

,city,prop_size,prop_desc,prop_price
0,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
2,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
5,london,"1,113 Sq Ft",Self Contained Office Over Ground & Lower Grou...,"- £575,000.00"
9,london,"5,068 Sq Ft","Lower Ground Floor South, Nell Gwynn House, Dr...",
14,london,"3,950 Sq Ft",Mixed Use Commercial Premises With High Ceilin...,
...,...,...,...,...
26559,cardiff,78006 Sq Ft,"Plot C2, Vale of Neath Business Park, Resolven...",
26570,cardiff,"6,277 Sq Ft","Units 19-20 Bonville Business Centre, Unit 19-...",
26582,cardiff,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS","- £260,000.00"
26595,cardiff,"2,420 Sq Ft",UNDER OFFER - For Sale - Retail Property in Ha...,"- £300,000.00"
26609,cardiff,"18,000 Sq Ft","The Old Deanery, Wells, BA5 2UG",

In [8]:
df_properties_others

,city,prop_size,prop_desc,prop_price
0,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
1,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
2,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
3,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
4,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
...,...,...,...,...
26605,cardiff,78006 Sq Ft,"Plot C2, Vale of Neath Business Park, Resolven...",
26606,cardiff,"6,277 Sq Ft","Units 19-20 Bonville Business Centre, Unit 19-...",
26607,cardiff,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS","- £260,000.00"
26608,cardiff,"2,420 Sq Ft",UNDER OFFER - For Sale - Retail Property in Ha...,"- £300,000.00"
26609,cardiff,"18,000 Sq Ft","The Old Deanery, Wells, BA5 2UG",

In [10]:
df_properties_others.to_csv("prop_details_new.csv",index=False)